<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Algebra Compilator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div id="app">
    <h1><b>Algebra Compilator</b></h1>
    <p><b>Authorized characters: "0123456789 +-/x"</b></p>
    <input v-model="code">
    <button v-on:click="compile"><b>compile</b></button>
    <ul id="resultLists">
      <li v-for="item in results">
        <result :result="item"></result>
      </li>
    </ul>'
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript">

var app = new Vue({
  el: '#app',
  methods: {
    compile: function(){
      this.results.push(iterate(this.code));
    }
  },
  data: {
    code: "",
    message: "",
    results: []
  }
})

// Définition d'un nouveau composant appelé `button-counter`
Vue.component('result', {
  props: ['result'],
  data: function () {
    return {
      count: 0
    }
  },
  template: '<ul class="result"><li v-for="item in result">{{ item.type }} : {{ item.word}}</li></ul>'
})

function iterate(code){

function consume(){
  word+=src[i];
  i++
}
function skip(){
  i++
}
function product(type){
  array.push({"type" : type, "word" : word});
  word = "";
}

function isNum(){
  let res = "0123456789".includes(src[i])
  if(res){
     consume();
  }
  return res;
}
function isNumber(){
  if(!isNum()) return false;
  while(isNum()){

  }product("NUMBER");
  return true;
}
function isOperator(){
  let res = "+-/x".includes(src[i]);
  if(res){
     consume();
     product("OPERATOR");
  }
  return res;
}
function isSymbol(){
  let res = "()".includes(src[i]);
  if(res){
     consume();
     product("SYMBOL");
  }
  return res;
}
function isNull(){
  let res = " \n".includes(src[i]);
  if(res){
     skip();
  }
  return res;
}

  let src = code;
  let i =0;
  let word = "";
  let array = [];
  let listTraitement = [isNumber, isNull, isOperator, isSymbol];
  while(src.length>i){
    let n = 0;
    console.log("i:"+i);
    while(!listTraitement[n]()){
      n++;
      console.log(n);
      if(n>listTraitement.length) return "error";
    }
  }
  console.log("cc");
  return array;
}
</script>

</body>
</html>
