<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Algebra Compilator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div id="app">
    <div :id="treeId">
      <button @click="closeTree()">close</button>
      <div id="tree" style="height:700px; width:900px">
    </div>
    </div>
    <h1><b>Algebra Compilator</b></h1>
    <p><b>Authorized characters: "0123456789 +-/x"</b></p>
    <input v-model="code">
    <button v-on:click="compile"><b>compile</b></button>
    <ul id="resultLists">
      <li class="calculus" v-for="(item, i) in resultsLexer.slice().reverse()">
        <p>calcul : {{codes.slice().reverse()[i]}}</p>
        <result :result="item"></result>
        <p>resultat : {{results.slice().reverse()[i]}}</p>
      </li>
    </ul>
  </div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://rawgit.com/PierreCapo/treeviz/master/dist/index.js"></script>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  methods: {
    closeTree: function(){
      this.treeShow=false;
    },
    openTree: function(){
      this.treeShow=true;
    },
    compile: function(){
      if(this.code!=""){
        this.codes.push(this.code);
        let lexer = iterate(this.code);
        let error = false;
        lexer.forEach((item, i) => {
          if(item.type=="ERROR" || error){
            error = true;
          }
        });
        this.resultsLexer.push(lexer);
        console.log(error,lexer);
        if(!error){
          let parsed = parse(lexer)[0];
          //this.displayTree(parsed);
          this.results.push(parsed.getValue());
        }else {
          this.results.push("error in lexer");
        }
      }
    },
    displayTree(data){
      console.log(data);
      this.openTree();
      var myTree = Treeviz.create({
        htmlId: "tree",
        idKey: "operator",
        flatData: false,
        relationnalField: "a",
      });
      myTree.refresh(data);
    }
  },
  data: {
    treeShow : false,
    code: "",
    message: "",
    results: [],
    resultsLexer:[],
    codes: []
  },
  computed:{
    treeId:function(){if(!this.treeShow){return "treeHidden"}}
  }
})

// Définition d'un nouveau composant appelé `button-counter`
Vue.component('result', {
  props: ['result'],
  data: function () {
    return {
      count: 0
    }
  },
  template: '<ul class="result"><li v-for="item in result" :class="item.type">{{ item.type }} : {{ item.word}}</li></ul>'
})
</script>
<script src="main.js"></script>

</body>
</html>
